<header class="cea-header-main">
    <div class="row col-xs-12">
        <div class="col-xs-12 col-sm-5 cea-logo">
            <a [routerLink]="['/home']"><img src="assets/images/logo.png" alt="logo"></a>
        </div>

        <div class="col-xs-12 col-sm-7">
            <ul class="cea-nav">
                <li >
                    <a [routerLink]="['/details']" [queryParams]="{fromCurrency: 'EUR', toCurrency: 'USD'}">EUR-USD Details</a>
                </li>
                <li >
                    <a [routerLink]="['/details']" [queryParams]="{fromCurrency: 'EUR', toCurrency: 'GBP'}">EUR-GBP Details</a>
                </li>
            </ul>

        </div>

    </div>
</header>