/* You can add global styles to this file, and also import other style files */
@import 'theme/index.scss';
body {
    color: $font-1;
    background-image: url('assets/images/bg.png');
    background-repeat: repeat;
}